<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <title>{{ block('title') }} {% if block('title') %} &middot; {% endif %} Acme Cheese Shop</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="/application.css">
            {% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                {{ include('header.html.twig') }}
            {% endblock %}

            <div class="content">
                {% block nav %}
                    {{ include('nav.html.twig') }}
                {% endblock %}

                <main>
                    {% block main %}
                        <div class="container" style="min-height: 500px">
                            {% if block('title') or block('page_header') %}
                                <header class="page-header">
                                    {% block page_header %}
                                        <h1>{{ block('title') }}</h1>
                                    {% endblock %}
                                </header>
                            {% endif %}

                            {{ block('content') }}
                        </div>
                    {% endblock %}
                </main>
            </div>

            {% block footer %}
                {{ include('footer.html.twig') }}
            {% endblock %}
        {% endblock %}

        {% block foot %}
            {% block javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
